@keyframes cool {
	0% {background-color: black;}
	50% {background-color: rgb(255,69,0);}
	100% {background-color: black;}
}

body {
  animation-name: cool;
  animation-duration: 8s;
	animation-iteration-count: infinite;
}

p {
  color: white;
}
